// bower:scss
// endbower

html{
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

.rapport{
  max-width: 480px;
  margin: 2rem auto;
  h1{
  }

  p{
    margin: .5rem 0;
  }
  .intro{
    font-size: 1.2rem;

  }
}

.graph{
  height: 460px;
  width: 940px;
  margin: 1rem auto;
  position: relative;
}

.graph .company-overview{
  position: absolute;
  top: 120px;
  width: 300px;
  right: 0;
}

svg{
  width: 100%;
  height: 100%;

  text{
    font-size: 13px;
  }

  .country{
    fill: hsl(0, 0, 90);
    cursor: pointer;


    text{
      transition: opacity .2s ease-in-out;
      fill: hsl(0, 0, 50);
    }

    rect{
      transition: opacity .2s ease-in-out;
    }

    &:hover rect{

      opacity: .7;
    }

    &.selected{
      opacity: .5;
    }
  }

  .investment{
    fill: hsl(0, 0, 50);
    cursor: pointer;
    /*transition: opacity .5s;*/

    &.dimmed{
      opacity: .7;
    }

    &.clicked rect{

      fill: #B20D77;
      transition: fill .5s;
    }

    text{
      text-anchor: left;
    }
  }
}
.creativecommons{
  max-width: 480px;
  margin: 1rem auto;
  text-align: center;
  img{
    display: inline-block;
    margin-bottom: .5rem;
  }

  p{
    display: inline-block;
  }
  /*margin-bottom: 1rem;*/
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
